@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	font-family: 'Lato', sans-serif;
}

.wrapper {
	height: 100%;
	width: 330px;
	position: relative;
}

input[type='checkbox'] {
	display: none;
}

.menu-button {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
}

.menu-button:hover {
	transform: scale(1.1);
}

.wrapper #sidebar {
	position: fixed;
	height: 100%;
	width: 270px;
	background: #404040;
	overflow: hidden;
	left: -270px;
	transition: all 0.3s ease;
	z-index: 1000;
}

#btn:checked ~ #sidebar {
	left: 0;
}

.sidebar-header {
	padding: 20px;
	display: flex;
	justify-content: flex-end;
}

.close-button {
	cursor: pointer;
	transition: all 0.3s ease;
}

.close-button:hover {
	transform: scale(1.1);
}

#sidebar .list-items {
	position: relative;
	background: #00040b;
	height: calc(100% - 80px);
	width: 100%;
	list-style: none;
}

#sidebar .list-items .list-item {
	padding-left: 20px;
	line-height: 50px;
	transition: all 0.3s ease;
}

#sidebar .list-items .list-item:hover {
	box-shadow: 0 0 10px 3px #222;
}

#sidebar .list-items .list-item .a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	height: 100%;
	width: 100%;
	display: block;
}

#sidebar .list-items .list-item .a .boxicons {
	margin-right: 20px;
}
