html {
	scrollbar-width: thin;
}

header{
	z-index: 2;
}

.bg-img{
	background-image: url(../images/ball.png);
	background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

.bg-img-2{
	background-image: url(../images/mc-quen.png);
	background-size: cover; 
	background-position: center; 
	background-repeat: no-repeat; 
}